.banner-box {
	width: 100%;

	.wrap-image {
		margin-bottom: 16px;
		display: block;
		overflow: hidden;

		img {
			display: inline-block;
		}
	}

	h3 {
		display: inline-block;
	}

	.box-btn,
	a.box-btn {
		margin-top: 15px;
		white-space: nowrap;
	}

	&.cover {
		width: auto;
		overflow: hidden;

		.wrap-image {
			min-height: 100px;
			margin: 0;
			position: relative;
			display: block;
			float: left;

			img {
				display: block;
				width: 100%;
			}
		}

		.box-content {
			background: transparent;
			max-width: 0px;
			padding: 0;
			overflow: hidden;
			transition: max-width .3s ease;

			.content-wrap {
				padding: 0 15px;
			}

			h3 {
				text-align: left;
			}

			*:first-child,
			p:first-child,
			h3:first-child {
				margin-top: 0;
			}

			@media screen and (max-width: 768px){
				max-width: 100% !important;
				height: auto !important;
				margin-bottom: 15px;

				.content-wrap {
					height: auto;
					display: block;
					padding: 35px 15px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.box-btn,
		a.box-btn {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}

	&.move-top, &.move-bottom {
		width: auto;
		float: none;
		position: relative;
		overflow: hidden;

		.wrap-image {
			transition: none;
			width: 100%;
			margin: 0;

			img {
				width: 100%;
				float: left;
			}
		}

		.box-content {
			width: 100%;
			height: 100%;
			max-width: auto;
			position: absolute;
			left: 0;
			top: 0;

			.box-title {
				background: rgba(52,52,54,.6);
				padding: 18px 25px 20px;
				overflow: hidden;
				transition-property: background, color;
				transition-duration: .2s;
				transition-timing-function: ease-in-out;

				p.subtitle {
					margin-top: 0px;
					color: $color_subtitles;
					transition-property: color;
					transition-duration: .2s;
					transition-timing-function: ease-in-out;
				}

				h3 {
					color: #fff;
				}
			}

			.wrap-content {
				background: rgba(52,52,54,.6);
				padding: 0 25px;
				overflow: hidden;
				height: 0;
				transition-property: height, padding, background;
				transition-duration: .2s;
				transition-timing-function: ease-in-out;

				p {
					color: $color_white;
				}

				*:first-child {
					border-top: 1px dotted rgba(255,255,255,.5);
					margin-top: 0;
					padding-top: 18px;
				}	
			}
		}

		.wrap-btn {
			width: 100%;
			padding: 0 25px;
			position: absolute;
			bottom: 22px;
			opacity: 0;
			transition-property: opacity;
			transition-duration: .2s;

			.box-btn,
			a.box-btn {
				border: 1px solid #fff;
				color: #fff;

				&:hover {
					background: #fff;
					color: $color_titles;
				}
			}
		}

		&.text-right {
			.wrap-btn {
				.box-btn-arrow {
					.icon-arrow {
						right: auto;
						left: -30px;
						transform: rotate(180deg);
					}

					&:hover {
						.icon-arrow {
							right: auto;
							left: -36px;
						}
					}
				}
			}
		}

		&.text-center {
			.wrap-btn {
				.box-btn-arrow {
					.icon-arrow {
						margin-left: -16px;
						right: auto;
						top: auto;
						left: 50%;
						top: -28px;
					}

					&:hover {
						.icon-arrow {
							margin-left: -10px;
							right: auto;
						}
					}
				}
			}
		}

		&:hover {
			.wrap-image {
				top: 0;
			}

			.box-title {
				background: rgba(52,52,54,.9);

				p.subtitle {
					color: $color_white;
				}
			}

			.wrap-content {
				background: rgba(52,52,54,.9);
				height: 100%;
			}

			.wrap-btn {
				opacity: 1;
				transition-delay: .1s;
			}
		}
	}

	&.move-bottom {
		.box-content {
			bottom: auto;
			top: 100%;
			margin-top: -86px;
			transition-property: top, margin;
			transition-duration: .2s;
			transition-timing-function: ease-in-out;

			&.without-subtitle {
				margin-top: -64px;
			}

			.wrap-content {
				height: 100%;
			}
		}

		.banner-box-without-subtitle {
			margin-top: -60px;
		}

		&:hover {
			.box-content {
				top: 0%;
				margin-top: 0;
			}
		}
	}

	&.column-2,
	&.column-3,
	&.column-4,
	&.column-5 {
		.column {
			float: left;
		}
	}

	&.column-2 .column {
		width: 33%;
	}
	&.column-3 .column {
		width: 25%;
	}
	&.column-4 .column {
		width: 20%;
	}
	&.column-5 .column {
		width: 16.666%;
	}

	&:after {
		content: '';
		clear: both;
		display: table;
	}

	@media screen and (max-width: 768px){
		&.column-2,
		&.column-3,
		&.column-4,
		&.column-5 {
			.column {
				width: 100%;
			}
		}
	}
}