.chart-box {
	text-align: center;

	.subtitle {
		color: #999;	
	}

	h3.title {
		text-align: center;
	}
}

.chart-box-pie {
	width: 160px;
	height: 160px;
	margin: 0 auto 20px;
	position: relative;

	canvas {
		position: relative;
		z-index: 4;
	}
}

.chart-box-pie-content {
	width: 158px;
	height: 158px;
	border-radius: 50%;
	line-height: 160px;
	font-weight: bold;
	font-size: 28px;
	color: $color_titles;
	font-family: $font_titles;
	position: absolute;
	top: 1px;
	left: 1px;
	z-index: 2;

	.icon,
	.icon-large {
		vertical-align: middle;
		font-size: 110%;
	}

	.icon-large {
		font-size: 48px;
		vertical-align: -10px;
	}

	.percent-wrap {
		vertical-align: middle;
	}
}