
$social-default-color: #343436;

//  classname: color
$social-colors: (
	'facebook': #4e6bbc,
	'twitter': #439ee6,
	'googleplus': #d33c26,
	'pinterest': #d72a36,
	'linkedin': #4477ab,
	'dribbble': #f16da0,
	'github': #323131,
	'instagram': #055595
);

.socialbar {
	cursor: default;
	line-height: 55px;

	a {
		background: $social-default-color;
		color: #fff;
		width: 55px;
		height: 55px;
		border: 1px solid $social-default-color;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		line-height: 55px;
		font-size: 22px;
		display: inline-block;
		transition: .2s;
		cursor: pointer;

		span {
			position: relative;
			z-index: 2;
		}

		&:hover {
			background: transparent;
			color: $social-default-color;
		}

		&.outline {
			background: transparent;
			color: $social-default-color;

			&:hover {
				background: $social-default-color;
				color: #ffffff;
			}

			&.social-footer {
				border-color: #474a4e;
				color: #afafb0;

				&:hover {
					background: #474a4e;
					color: #ffffff;
				}
			}
		}

		&.flat {
			@extend .flat;
			background: transparent;
			color: $social-default-color;

			&:hover {
				background: $social-default-color;
				color: #ffffff;
			}
		}

		&.shadow {
			box-shadow: 0 2px 8px rgba(0,0,0,.13);

			&:hover {
				box-shadow: none;
			}
		}

		&.social-hover {
			background: transparent;
			position: relative;
			border: none;
			color: #ffffff;
			border: 1px solid $social-default-color;

			&:after {
				content: '';
				background: $social-default-color;
				width: 100%;
				height: 100%;
				padding: 1px;
				border-radius: inherit;
				position: absolute;
				top: -1px;
				left: -1px;
				box-sizing: content-box;
				transition: transform 0.2s, opacity 0.2s;
			}

			&:hover {
				background: transparent;
				color: #fff;

				&:after {
					opacity: 1;
					transform: scale(0.85);
				}
			}
		}

		&.social-hover-second {
			@extend .social-hover;

			&:hover {
				color: $social-default-color;
				&:after {
					transform: scale(0);
				}
			}
		}

		&.social-hover-1 {
			@extend .social-hover;
		}

		&.social-hover-2 {
			@extend .social-hover-second;
		}

		&.social-hover-3 {
			@extend .social-hover-second;
			
			&:hover {
				&:after {
					opacity: 0;
					transform: scale(1.2);
				}
			}
		}

		&.social-hover-4 {
			@extend .social-hover-second;

			color: $social-default-color;

			&:after {
				opacity: 0;
				transform: scale(1.2);
			}

			&:hover {
				color: #fff;

				&:after {
					opacity: 1;
					transform: scale(1);
				}
			}
		}

		&.social-hover-5 {
			@extend .social-hover-4;

			overflow: hidden;
			box-shadow: none;
			
			&:after {
				display: none;
			}
			
			span {
				background: transparent;
				width: 100%;
				height: 100%;
				padding: 1px;
				border-radius: inherit;
				display: block;
				transition: transform 0.2s, opacity 0.2s;
				opacity: 1;
			}

			&:hover {
				background: $social-default-color;

				span {
					color: #fff;
					transition-delay: .3s;
					animation: toTopFromBottom .3s forwards;
				}
			}
		}
	}

	@each $name, $color in $social-colors {
		a.#{$name}.default {
			background: $color;
			border-color: $color;

			&:hover {
				background: transparent;
				color: $color;
			}

			&.outline {
				background: transparent;
				color: $color;

				&:hover {
					background: $color;
					color: #ffffff;
				}
			}

			&.flat {
				background: transparent;
				color: $color;

				&:hover {
					background: $color;
					color: #ffffff;
				}
			}

			&.social-hover-1 {
				background: transparent;
				border-color: $color;
				color: #ffffff;

				&:hover {
					color: #ffffff;
				}

				&:after {
					background: $color;
				}
			}

			&.social-hover-2 {
				background: transparent;

				&:hover span {
					color: $color;
				}

				&:after {
					background: $color;
				}
			}

			&.social-hover-3 {
				&:after {
					background: $color;
				}
			}

			&.social-hover-4 {
				background: transparent;
				color: $color;

				&:hover {
					color: #ffffff;
				}

				&:after {
					background: $color;
				}
			}

			&.social-hover-5 {
				color: $color;

				&:hover {
					background: $color;
					color: #ffffff;
				}
			}
		}
	}
}

.socialbar.boxed-fullwidth {
	$sizes: ( 1: 100%, 2: 50%, 3: 33.333%, 4: 25%, 5: 20%, 6: 16.666%, 7: 14.285%, 8: 12.5%);
	margin: 0;
	overflow: hidden;
	@each $column, $width in $sizes {
		&.social-column-#{$column} {
			a {
				width: $width;
			}
		}
	}

	a {
		height: 120px;
		float: left;
		margin: 0;
		border: none;
		line-height: 120px;
		vertical-align: middle;
		position: relative;
		overflow: hidden;

		.social-icon {
			width: 100%;
			text-align: center;
			position: absolute;
			opacity: 0;
			left: 0;
			top: 50px;
			transition: .2s ease-in-out;
			transition-property: opacity, top;
		}

		.social-text {
			font-family: "Montserrat";
			font-size: 18px;
			font-weight: 900;
			position: relative;
			top: 0;
			opacity: 1;
			transition: .2s ease-in-out;
			transition-property: opacity, top;
		}

		&:hover {
			.social-icon {
				opacity: 1;
				top: 0;
			}

			.social-text {
				opacity: 0;
				top: -30px;
			}
		}

		@each $name, $color in $social-colors {
			&.#{$name}.default {
				background: $color;
				border-color: $color;

				&:hover {
					background: $color;
					color: #ffffff;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		clear: both;

		a {
			height: 60px;
			line-height: 60px;
			clear: none;

			.social-text {
				opacity: 0;
			}

			.social-icon {
				opacity: 1;
				top: 0;
			}
		}
	}
}

.socialbar.small a {
	width: 40px;
	height: 40px;
	line-height: 38px;
	font-size: 18px;
}

@keyframes toTopFromBottom {
	59% {
		transform: translateY(-90%);
	}
	60% {
		opacity: 0;
		transform: translateY(100%);
	}
	61% {
		opacity: 1;
	}
}