@font-face {
    font-family: 'line-32-internet';
    src:    url('fonts/line-32-internet.eot?h56lxv');
    src:    url('fonts/line-32-internet.eot?h56lxv#iefix') format('embedded-opentype'),
        url('fonts/line-32-internet.woff2?h56lxv') format('woff2'),
        url('fonts/line-32-internet.ttf?h56lxv') format('truetype'),
        url('fonts/line-32-internet.woff?h56lxv') format('woff'),
        url('fonts/line-32-internet.svg?h56lxv#line-32-internet') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="my-icon-net-"], [class*=" my-icon-net-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'line-32-internet' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.my-icon-net-cable-2:before {
    content: "\e900";
}
.my-icon-net-cable:before {
    content: "\e901";
}
.my-icon-net-closed:before {
    content: "\e902";
}
.my-icon-net-computer:before {
    content: "\e903";
}
.my-icon-net-connection-folder:before {
    content: "\e904";
}
.my-icon-net-connection:before {
    content: "\e905";
}
.my-icon-net-cross:before {
    content: "\e906";
}
.my-icon-net-download-2:before {
    content: "\e907";
}
.my-icon-net-download:before {
    content: "\e908";
}
.my-icon-net-edit:before {
    content: "\e909";
}
.my-icon-net-fibre:before {
    content: "\e90a";
}
.my-icon-net-folder:before {
    content: "\e90b";
}
.my-icon-net-internet:before {
    content: "\e90c";
}
.my-icon-net-line:before {
    content: "\e90d";
}
.my-icon-net-link:before {
    content: "\e90e";
}
.my-icon-net-minus:before {
    content: "\e90f";
}
.my-icon-net-network:before {
    content: "\e910";
}
.my-icon-net-open:before {
    content: "\e911";
}
.my-icon-net-phone:before {
    content: "\e912";
}
.my-icon-net-plus:before {
    content: "\e913";
}
.my-icon-net-protect:before {
    content: "\e914";
}
.my-icon-net-search:before {
    content: "\e915";
}
.my-icon-net-secure:before {
    content: "\e916";
}
.my-icon-net-settings:before {
    content: "\e917";
}
.my-icon-net-speed:before {
    content: "\e918";
}
.my-icon-net-sync:before {
    content: "\e919";
}
.my-icon-net-tick:before {
    content: "\e91a";
}
.my-icon-net-tree:before {
    content: "\e91b";
}
.my-icon-net-upload-2:before {
    content: "\e91c";
}
.my-icon-net-upload:before {
    content: "\e91d";
}
.my-icon-net-warning:before {
    content: "\e91e";
}
.my-icon-net-wifi-computer:before {
    content: "\e91f";
}
.my-icon-net-wifi-cross:before {
    content: "\e920";
}
.my-icon-net-wifi-edit:before {
    content: "\e921";
}
.my-icon-net-wifi-laptop:before {
    content: "\e922";
}
.my-icon-net-wifi-minus:before {
    content: "\e923";
}
.my-icon-net-wifi-phone:before {
    content: "\e924";
}
.my-icon-net-wifi-plus:before {
    content: "\e925";
}
.my-icon-net-wifi-protect:before {
    content: "\e926";
}
.my-icon-net-wifi-router:before {
    content: "\e927";
}
.my-icon-net-wifi-search:before {
    content: "\e928";
}
.my-icon-net-wifi-secure:before {
    content: "\e929";
}
.my-icon-net-wifi-settings:before {
    content: "\e92a";
}
.my-icon-net-wifi-signal-2:before {
    content: "\e92b";
}
.my-icon-net-wifi-signal-3:before {
    content: "\e92c";
}
.my-icon-net-wifi-signal-4:before {
    content: "\e92d";
}
.my-icon-net-wifi-signal:before {
    content: "\e92e";
}
.my-icon-net-wifi-tick:before {
    content: "\e92f";
}
.my-icon-net-wifi-transmitter:before {
    content: "\e930";
}
.my-icon-net-wifi-warning:before {
    content: "\e931";
}

