
/*--------------------------------------------------------------
## Argenta logo widget
--------------------------------------------------------------*/
.widget_argenta_widget_logo {
	a {
		margin-bottom: 5px;
		display: inline-block;

		&:hover {
			text-decoration: none;
		}
	}	
}

.site-footer {
	.widget_argenta_widget_logo .logo a:hover {
		text-decoration: none;
	}
}


/*--------------------------------------------------------------
## Argenta recent posts widget
--------------------------------------------------------------*/
.widget_argenta_widget_recent_posts {
	ul.recent-posts-list {
		list-style: none;
		margin: 0;

		li {
			min-height: 80px;
			margin-bottom: 15px;
			position: relative;
			overflow: hidden;

			&:last-child {
				margin-bottom: 0px;
			}
		}

		img {
			width: 80px;
			height: 80px;
			position: absolute;
			top: 0;
			left: 0;
		}

		h4 {
			line-height: 1.2;
		}

		h4 a:hover {
			text-decoration: underline;
		}

		.content-wrap {
			float: left;
			padding-left: 95px;
			margin-top: -2px;

			p.subtitle {
				color: #444447;
				margin-bottom: 5px;
			}

			.author {
				font-size: 13px;
				font-weight: 600;
				margin-bottom: 5px;
			}

			.date {
				font-size: 13px;
				color: #888888;
			}

			&.no-thumb {
				padding-left: 0px;
			}
		}
	}
}

.site-footer {
	.widget_argenta_widget_recent_posts {
		ul.recent-posts-list {
			.content-wrap {
				p, .date {
					color: rgba(#ffffff,.6);
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Argenta about author widget
--------------------------------------------------------------*/
.widget_argenta_widget_about_author {
	img {
		width: 70px;
		height: 70px;
		float: left;
		display: inline-block;
		margin-right: 15px;
	}

	.info {
		width: 100%;
		float: left;
		position: relative;
		margin-left: -85px;
		padding-left: 85px;

		.info-wrap {
			width: 100%;
			min-height: 70px;
			border-bottom: 1px dotted #ccc;
		}

		h4 {
			width: 100%;
			text-align: inherit;
			display: block;
			float: left;
			margin-top: -5px;
		}

		.site {
			font-size: 13px;
		}

		.socialbar {
			position: absolute;
			top: 0;
			right: 0;

			a.social {
				width: 26px;
				height: 26px;
				margin-left: 2px;
				font-size: 14px;
				line-height: 26px;
			}
		}
	}

	.content {
		margin-top: 15px;
		font-size: 14px;
		line-height: 1.8;
	}
}

.site-footer .widget_argenta_widget_about_author {
	.info h4 {
		color: #fff;
	}
}

/*--------------------------------------------------------------
## Argenta login widget
--------------------------------------------------------------*/
.widget_argenta_widget_login_widget {
	font-size: 14px;
	overflow: hidden;

	.login-wrap {
		overflow: hidden;
		position: relative;
		transition: height .25s ease-in-out;
	}

	form {
		overflow: hidden;
	}

	.login-form {
		position: relative;
		left: 0;
		opacity: 1;
		transition: opacity .25s ease-in-out;
		z-index: 2;

		&.hidden {
			display: block;
			opacity: 0;
			position: absolute;
			z-index: 1;
		}
	}

	.reg-form {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity .25s ease-in-out;
		z-index: 1;

		&.visible {
			opacity: 1;
			z-index: 2;
		}
	}

	.reg-success {
		color: #0a6;
	}

	.login-error,
	.reg-error {
		color: #c22;
	}

	.login-submit {
		float: left;
		margin-top: 2px;

		&.with-registration {
			width: 48%;
		}

		button {
			margin-top: 0;
		}
	}

	.btn {
		.text-loading {
			display: none;
		}

		&.loading {
			background: transparent;
			color: $color_dark;
			opacity: .6;
			cursor: default;

			.text-loading {
				display: block;
			}

			.text {
				display: none;
			}
		}
	}

	.login-registration {
		width: 48%;
		margin-top: 2px;
		float: right;

		a {
			width: 100%;
			color: $color_dark;

			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.login-remember {
		float: left;

		label {
			cursor: pointer;
		}
	}

	.login-lost-password {
		float: right;
	}

	.login-remember,
	.login-lost-password {
		width: auto;
	}

	.reg-submit {
		margin-top: 12px;

		button {
			margin-top: 0;
		}
	}

	.back-to-login {
		margin-top: 20px;
	}

	.logged-in {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0;
		transition: opacity .25s ease-in-out;

		&.visible {
			position: relative;
			opacity: 1;
			z-index: 2;
		}
	}

	a {
		color: $color_brand;

		&:hover {
			text-decoration: underline;
		}
	}
}

/*--------------------------------------------------------------
## Argenta subscribe widget
--------------------------------------------------------------*/
.widget_argenta_widget_subscribe {

}

.site-footer {
	.widget_argenta_widget_subscribe {
		input {
			border-color: rgba(#fff,.15);
			color: #ffffff;

			&::placeholder {
				color: #ffffff;
			}

			&:focus {
				border-color: rgba(#fff,.3);
			}
		}

		button.btn {
			background: $color_brand;
			border-color: $color_brand;

			&:hover {
				background: none;
				color: $color_brand;
			}
		}
	}
}